/* Spacing */
$space-1: 48px;
$space-2: 40px;
$space-3: 32px;
$space-4: 24px;
$space-5: 16px;
$space-6: 8px;

/* Font Sizes */

$font-size-XXL: 2.25rem;
$font-size-XL: 1.5rem;
$font-size-L: 0.875rem;
$font-size-M: 0.75rem;
$font-size-S: 0.625rem;
$font-size-XS: 0.5rem;

/* Border Radius */

$border-radius-circular: 50%;

/* Font weight */

$font-weight-semibold: 600;

/* Common Sizes of Components */

$header-height: 50px;
