@import '../../../styles/styles.scss';

.header {
      background-color: $dark-blue !important;
      padding: $space-6 0;
      .header-container{

            max-width: unset;


                  .toolbar {
                        @include display-flex();
                        @include align-items(center);
                        @include justify-content(space-between);
                        height: $header-height;
                        min-height: $header-height;
                        .logo {
                              color: $light-gray;
                              cursor: pointer
                        }
                        .options-container {
                              @include display-flex();
                              .item {
                                    width: fit-content;
                                    margin: 0 $space-6;
                                    cursor: pointer;
                                    @include display-flex();

                                    .text {
                                          color: $base-white;
                                          font-weight: $font-weight-semibold;
                                    }
                              }
                        }
                  }
      }

      .icon-sidebar {
            color: $base-white;
      }
}

.MuiDrawer-paperAnchorRight {
      background-color: $light-gray !important;
}
.sidebar-list {
      margin: $space-5 !important;
      padding: 16px;

      .item {
            width: fit-content;
            margin: 0 $space-6;
            cursor: pointer;
            transition: all 0.5s ease;
      }
      .item:hover {
            transform: translateX($space-6);
            color: $light-blue;
      }
}
.sidebar-text {
      color: $base-black;
      font-weight: $font-weight-semibold;
}
